/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

@CHARSET "UTF-8";

.blurb-close-btn, .notify-blurb-close-btn, 
.success-notify-blurb-close-btn, .error-notify-blurb-close-btn {
	position: absolute;
	top: 3px;
	right: 3px;
	background-image: url("/static/imgs/x_btn.png");
	opacity: 0.6;
	height: 12px;
	width: 12px;
	z-index: 3px;
}

.error-notify-blurb-close-btn {
	background-image: url("/static/imgs/x_btn_error.png");
}

.success-notify-blurb-close-btn {
	background-image: url("/static/imgs/x_btn_success.png");
}

.blurb-close-btn:hover, .notify-blurb-close-btn:hover, 
.error-notify-blurb-close-btn:hover, .success-notify-blurb-close-btn:hover{
	cursor: pointer;
	opacity: 1;
	background-image: url("/static/imgs/x_btn_over.png")	
}

.error-notify-blurb-close-btn:hover {
	background-image: url("/static/imgs/x_btn_error_over.png")	
}

.success-notify-blurb-close-btn:hover {
	background-image: url("/static/imgs/x_btn_success_over.png")	
}

.notify, .error-notify, .success-notify {
	z-index: 1000;
	font-size: 0.923em;
}

.error-notify {
	padding: 15px 25px 15px 25px;
	background-color: #FFDDDD;
	text-shadow: 1px 1px #FFF3F3;
	color: #993737;
	border: 1px solid #A76363;
}

.success-notify {
	padding: 15px 25px 15px 25px;
	background-color: #D7E6CA;
	text-shadow: 1px 1px #F0F5EB;
	color: #536641;
	border: 1px solid #748663;
}

.blurb-wrap {
	background-image: url(/static/imgs/blurb-back-black-transp.png);
	padding: 15px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	z-index: 900;
}

.notify {
	background-color: #d9edf7;	
	border: 1px solid black;
	padding: 0px;
}
