<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
<head xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
	<meta charset="utf-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="author" content="youcover.me"> 
	<meta name="description" content="Online Cover comparison platform "> 
	<meta property="og:image" content="static/imgs/logo_navbar.png" />
	<meta name="viewport" content="width=920, initial-scale=auto"> 
	<meta property="og:type" content="website" />
	<meta property="og:title" content="YouCover.Me" /> 

	<meta property="og:site_name" content="YouCover.Me" />
	
	<title>
		{% block title %}
			youcover.me - Discover talent online
		{% end %}
	</title>
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30505617-1']);
	  _gaq.push(['_setDomainName', 'youcover.me']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	
    <link href="{{static_url('css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{static_url('css/bootstrap-responsive.css')}}" rel="stylesheet">
   	{% for css in kwargs['css_deps'] %}
		<link rel="stylesheet" href="{{static_url(css)}}" type="text/css" />
	{% end %}
	<style type="text/css">
		body { background-repeat:repeat-x repeat-y; background-image:url('/static/imgs/back-texture.png');}
	</style>	
</head> 

<body >	
{% block header %}	
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      <a class="brand" href="/"><img src="static/imgs/logo_navbar.png" style="height:20px"></a>
	      <div class="nav-collapse">
	        <ul class="nav">
	          <li id="home-btn" class="active"><a href="/">Home</a></li>
	          <li><a id="rankings-btn" href="/rankings">Top Covers</a></li>
      		  {%if not current_user%}
           	  	<li><a href="/submit">Register/Sign-in</a></li>
		      {%end%}
		      {%if current_user%}	
	            <li><a id="submit-btn" href="/submit">Submit Cover</a></li>
           	  	<li><a href="/logout">Log out</a></li>
		      {%end%}
	        </ul>
	          <div style="position:relative; float:right; top:8px;" id="twitter-follow-btn">
	              <a href="https://twitter.com/youcoverme" class="twitter-follow-button" data-show-count="false">Follow @youcoverme</a>
	              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
	      </div><!--/.nav-collapse -->
	    </div>
	  </div>
	</div>
{% end %}

{% block content %}
	<div class="container">
		<hr style="border-color:#E0E0E0 ;">	
     	<p style="poistion:relative; float:left;">Vote the best covers and discover new talent.</p>
		<footer style="position: relative; float:right">
		  <p style="display:inline; padding:5px;" >&copy; YouCover.Me 2012</p>&middot;
		  <a style="display:inline; padding:5px;" href="/terms">Terms</a>&middot;
		     <a style="display:inline; padding:5px;" href="/privacy">Privacy Policy</a>&middot;
		     <a style="display:inline; padding:5px;" href="/about">About Us</a>
		</footer>	
	</div>
	{% raw xsrf_form_html() %}
{% end %}

	
{% block jquery_templates %}
{% end %}

{% block scripts %}	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  	<script>!window.jQuery && document.write(unescape('%3Cscript src="{{static_url("js/libs/jquery-1.5.1.min.js")}}"%3E%3C/script%3E'))</script>
	<script src="{{static_url('js/libs/jquery.i18n.js')}}"></script>
	<script src="{{static_url('js/libs/blurb.min.js')}}"></script>
	<script src="{{static_url('js/CYP.js')}}"></script>
	{% for js in kwargs['js_deps'] %}
		<script src="{{static_url(js)}}"></script>
	{% end %}	
{% end %}


</body> 

</html>
