{% extends "base.html" %}

{% block content %}
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="efko-static/docs/assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="efko-static/docs/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="efko-static/docs/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="efko-static/docs/assets/ico/apple-touch-icon-57-precomposed.png">

<style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
</style>
{% if kwargs != None %}
	
	<div class="container">
	
		  <!-- Main hero unit for a primary marketing message or call to action -->
		<div class="alert alert-info">
		  <a class="close" data-dismiss="alert">×</a>
		  <h1 class="alert-heading" style="top:100px">"{{kwargs['first'].title}}" by {{kwargs['first'].artist}}</h4>
		  Vote on your favourite cover now to help discover the worlds next big pop star!
		</div>
		
		     <!-- Example row of columns -->
		   <div class="row">
		     <div class="span6">
		       <h2>{{kwargs['first'].uploader}} <span class="badge badge-inverse">{{kwargs['first'].upvotes}} votes</span></h2>
		<object width="100%" height="315">
		  <param name="movie"
		         value="{{kwargs['first'].url}}"></param>
		  <param name="allowScriptAccess" value="always"></param>
		  <embed src="{{kwargs['first'].url}}"
		         type="application/x-shockwave-flash"
		         allowscriptaccess="always"
		          width="100%" height="315"></embed>
		</object>
		        <p></p>
		       <p align="right"><a sid="{{kwargs['first'].id}}" class="btn btn-success" href="#">&laquo; Vote for this<i class="icon-ok-circle"></i></a></p>
		     </div>
		     <div class="span6">
		       <h2>{{kwargs['second'].uploader}} <span class="badge badge-inverse">{{kwargs['second'].upvotes}} votes</span></h2>
		<object width="100%" height="315">
		  <param name="movie"
		         value="{{kwargs['second'].url}}"></param>
		  <param name="allowScriptAccess" value="always"></param>
		  <embed src="{{kwargs['second'].url}}"
		         type="application/x-shockwave-flash"
		         allowscriptaccess="always"
		          width="100%" height="315"></embed>
		</object>
		        <p></p>
		       <p><a sid="{{kwargs['second'].id}}" class="btn btn-success"><i class="icon-ok-circle"></i> Vote for this &raquo;</a></p>
		    </div>
		   </div>
		   
		   <div style="text-align: center;">
		      <form action="/next" method="get">
		      {% raw xsrf_form_html() %}
	       	  <p><input type="submit" value="Go to the next cover &raquo;" id="next-cover-btn" class="btn btn-inverse btn-large" style="width: 240px;"></p>
	       	  </form>	
	       </div>
		   <hr>	
		   <footer>
		     <p>&copy; YouCover.Me 2012</p>
		   </footer>
	 </div> <!-- /container -->
{% else %}
	No songs to play! Move along
{% end %}


{% end%}

