{% extends "base.html" %}

{% block content %}
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="efko-static/docs/assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="efko-static/docs/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="efko-static/docs/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="efko-static/docs/assets/ico/apple-touch-icon-57-precomposed.png">

<style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
</style>
{% if kwargs != None %}
	
	<div class="container">
	
		  <!-- Main hero unit for a primary marketing message or call to action -->
		<div class="alert alert-info">
		  <h1 class="alert-heading" style="top:100px">"{{kwargs['first'].original_title}}" by {{kwargs['first'].artist}}</h4>
		</div>
		
		     <!-- Example row of columns -->
		   <div class="row">
		     <div class="span6">
		       <h2>{{kwargs['first'].uploader}} <a class="btn btn-danger" href="{{kwargs['first'].uploader_url}}" target="_blank">Visit channel</a> <span class="badge badge-inverse">{{kwargs['first'].upvotes}} votes</span></h2>
		<object width="100%" height="400">
		  <param name="movie"
		         value="{{kwargs['first'].url}}"></param>
		  <param name="allowScriptAccess" value="always"></param>
		  <embed src="{{kwargs['first'].url}}"
		         type="application/x-shockwave-flash"
		         allowscriptaccess="always"
		          width="100%" height="400"></embed>
		</object>
		        <p></p>
		       <p align="center"><a sid="{{kwargs['first'].id}}" class="btn btn-success" style="width:250px; height:30px; vertical-align: middle; font-size:x-large">&#10003; Vote for this<i class="icon-ok-circle"></i></a></p>
		     </div>
		     <div class="span6">
		       <h2>{{kwargs['second'].uploader}} <a class="btn btn-danger" href="{{kwargs['second'].uploader_url}}" target="_blank">Visit channel</a> <span class="badge badge-inverse">{{kwargs['second'].upvotes}} votes</span></h2>
		<object width="100%" height="400">
		  <param name="movie"
		         value="{{kwargs['second'].url}}"></param>
		  <param name="allowScriptAccess" value="always"></param>
		  <embed src="{{kwargs['second'].url}}"
		         type="application/x-shockwave-flash"
		         allowscriptaccess="always"
		          width="100%" height="400"></embed>
		</object>
		        <p></p>
		       <p align="center"><a sid="{{kwargs['second'].id}}" class="btn btn-success" style="width:250px; height:30px; vertical-align: middle; font-size:x-large"><i class="icon-ok-circle"></i> Vote for this &#10003;</a></p>
		    </div>
		   </div>
		   
		   <div style="text-align: center;">
		      <form action="/next" method="get">
		      {% raw xsrf_form_html() %}
	       	  <p><input type="submit" value="Go to the next cover &raquo;" id="next-cover-btn" class="btn btn-inverse btn-large" style="width: 240px; font-size:x-large"></p>
	       	  </form>	
	       </div>
			
			<div id="share-btns">
		        <a name="fb_share" type="button" share_url="youcover.me" style="position:relative; left:-2px;top:-6px;"></a> 
				<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
				        type="text/javascript">
				</script>
	
				<a href="https://twitter.com/share" class="twitter-share-button" data-count= "None" data-url="youcover.me" data-text="I just compared two covers on www.youcover.me" data-via="youcoverme">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
	 </div> <!-- /container -->
{% else %}
	No songs to play! Move along
{% end %}


{% end%}

