{% extends "base.html" %}

{% block content %}
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="efko-static/docs/assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="efko-static/docs/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="efko-static/docs/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="efko-static/docs/assets/ico/apple-touch-icon-57-precomposed.png">

<style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
</style>
{% if kwargs != None %}
	
	<div class="container">
		  <!-- Main hero unit for a primary marketing message or call to action -->
		<div class="alert alert-info">
		<div style="position:relative; float:right; top: 7px; right:-60px;" id="share-btns">
	        <a name="fb_share" share_url="youcover.me" style="position:relative; left:-2px;top:-6px;"></a> 
			<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
			        type="text/javascript">
			</script>
			<a href="https://twitter.com/share" class="twitter-share-button" data-count= "None" data-url="youcover.me" data-text="I just compared two covers on www.youcover.me" data-via="youcoverme">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		  <h1 class="alert-heading" style="top:200px">"{{kwargs['first'].original_title}}" by {{kwargs['first'].artist}} </h1>
		  <p><div id="submit-btn-container" style="position:relative; bottom:4px; display:inline;"><a class="btn btn-primary btn-mini" href="/submit">Submit</a></div> your own covers and become a member of our growing community!</p>
		</div>
		
		  <!-- Example row of columns -->
		   <div class="row">
		     <div class="span6">
		       <h2>{{kwargs['first'].uploader}}  
		       		<div id="visit-first-channel-btn" style="position:relative; bottom:6px; display:inline;"><a class="btn btn-danger" href="{{kwargs['first'].uploader_url}}" target="_blank">Visit channel</a></div> 
		       		<div id="votes-first-container" style="position:relative; bottom:6px; display:inline;"><span id="votes-first" style="display:none" class="badge badge-inverse">{{kwargs['first'].upvotes}} votes</span></div>
		       	</h2>
		<object width="100%" height="400">
		  <param name="movie"
		         value="{{kwargs['first'].url}}"></param>
		  <param name="wmode" value="opaque"></param>
		  <param name="allowScriptAccess" value="always"></param>
		  <embed src="{{kwargs['first'].url}}"
				 wmode = "transparent"
		         type="application/x-shockwave-flash"
		         allowscriptaccess="always"
		          width="100%" height="400"></embed>
		</object>
		        <p></p>
		        {%if current_user%}
		           {% if str(kwargs['first'].id) not in kwargs['current_user_votes']%}
				       <p align="center"><a sid="{{kwargs['first'].id}}" class="btn btn-success" style="width:150px; height:30px; vertical-align: middle; font-size:x-large"><i class="icon-ok-circle"></i> Vote &#10003;</a></p>
			       {% else%}
    				   <p align="center"><a sid="{{kwargs['first'].id}}" class="btn btn-success" disabled="disabled" style=" width:150px; height:30px; vertical-align: middle; font-size:x-large"><i class="icon-ok-circle"></i> Vote &#10003;</a></p>
    			   {%end%}
			    {%else%}
			    <p align="center"><a sid="{{kwargs['first'].id}}" id="non-autenticated-vote" class="btn btn-success" style="width:150px; height:30px; vertical-align: middle; font-size:x-large"><i class="icon-ok-circle"></i> Vote &#10003;</a></p>
			    {%end%}
		     </div>
		     <div class="span6">
		       <h2>{{kwargs['second'].uploader}}  
					<div id="visit-second-channel-btn" style="position:relative; bottom:6px; display:inline;"><a class="btn btn-danger" href="{{kwargs['second'].uploader_url}}" target="_blank">Visit channel</a></div> 
		       		<div id="votes-second-container" style="position:relative; bottom:6px; display:inline;"><span id="votes-second" style="display:none" class="badge badge-inverse">{{kwargs['second'].upvotes}} votes</span></div>
		       	</h2>
		<object width="100%" height="400">
		  <param name="movie"
		         value="{{kwargs['second'].url}}"></param>
          <param name="wmode" value="opaque"></param>
		  <param name="allowScriptAccess" value="always"></param>
		  <embed src="{{kwargs['second'].url}}"
				  wmode = "transparent"
		         type="application/x-shockwave-flash"
		         allowscriptaccess="always"
		          width="100%" height="400"></embed>
		</object>
		        <p></p>
		        {%if current_user%}
		           {% if str(kwargs['second'].id) not in kwargs['current_user_votes']%}
				       <p align="center"><a sid="{{kwargs['second'].id}}" class="btn btn-success" style="width:150px; height:30px; vertical-align: middle; font-size:x-large"><i class="icon-ok-circle"></i> Vote &#10003;</a></p>
			       {% else%}
    				   <p align="center"><a sid="{{kwargs['second'].id}}" class="btn btn-success" disabled="disabled" style=" width:150px; height:30px; vertical-align: middle; font-size:x-large"><i class="icon-ok-circle"></i> Vote &#10003;</a></p>
    			   {%end%}
			    {%else%}
			    	<p align="center"><a sid="{{kwargs['second'].id}}" id="non-autenticated-vote" class="btn btn-success" style="width:150px; height:30px; vertical-align: middle; font-size:x-large"><i class="icon-ok-circle"></i> Vote &#10003;</a></p>
			    {%end%}
		    </div>
		   </div>
		   <div style="text-align: center;">
		      <form action="/next" method="get">
		      {% raw xsrf_form_html() %}
		      </br>
	       	  <p><input type="submit" value="Next battle &raquo;" id="next-cover-btn" class="btn btn-inverse btn-large" style="width: 240px; font-size:x-large"></p> 
	       	  </form>	
	       </div>
	 </div> <!-- /container -->
{% else %}
	No songs to play! Move along
{% end %}

{% end%}

{% block jquery_templates %}
	<script id="registration-popup-template" type="text/x-jquery-tmpl">
		<div style="padding: 15px 25px 15px 25px; background-color: #d9edf7;">
			<h1>Register and discover new musical talent or submit your own covers.</h1>
			<h3>Registration is free and it takes just a second!</h3>
			<br><br>
			<a class="btn btn-primary" href="/register/google">Register</a>	or <a href="/login" class="btn btn-primary">Sign-in</a>
			<a id="close-registration-popup" style="position:relative; float:right;" class="btn btn-primary">No, thanks</a>
		</div>	
	</script>
{% end %}