{% extends "base.html" %}

{% block content %}
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .faded {
      	opacity: 0.4;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="docs/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="docs/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="docs/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="docs/assets/ico/apple-touch-icon-57-precomposed.png">

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
	<div class="alert alert-warning">
	  <h4 class="alert-heading">Bored?</h4>
	  <p>Well it's your own fault! This page is boring! You have the power to entertain yourself on youcover.me by watching covers.</p>
	  <p>
	  	  	<a class="btn btn-warning btn-mini" href="/">Vote on more covers now &raquo; </a>
	  </p>
	</div>


      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span12">
			<h1>Privacy Policy</h1>
				<p>Youcover is an independent platform. We do use YouTube as part of our platform, a service provided by Google Inc we do not represent and are not affiliated as a partner or formal service provider for Google Inc or YouTube (www.youtube.com). By accessing the site or using our services, you agree to be bound by these Terms of Service as amended from time to time in Youcover’s sole discretion. Any amendments will be posted here, so please periodically return to these terms of service for updates. By continuing to use the site, you agree to these amendments.</p>
				<p>Youcover collects and compiles information regarding your use of the site, in order to improve your experience and to prevent abuse of the site.</p>
				<p>By using Youcover, you consent to the data collection and use we describe here. We may periodically make changes to this Privacy Policy, so please check back. Your continued use of the site constitutes acceptance of any amendments to the terms of this Privacy Policy.</p>
			<h3>What information is collected and stored?</h3>
				<p>Youcover retains personal information that you provide through Facebook (and specifically allow Youcover to collect) such as your name, email address, age, gender, location, interests and other information. Youcover also collects general information such as your browser, operating system, IP address, and actions you take while using the product, such as the time you spend on the site Youcover in compliance with Facebook Platform Policies. By signing on to Youcover and clicking "Allow," you are consenting to have your profile information to be used to enrich your experience using the site. Youcover employs cookies, which are stored on your browser, to improve your experience on the site.</p>
			<h3>How is my information shared with third parties?</h3>
				<p>Youcover may share content analytics, voting data and site activity usage with third parties. We may also share content data listed on the leaderboards with our partner organisations and affiliates.</p>
			<h3>How is my information used?</h3>
				<p>Youcover uses the information it collects to personalise and improve your experience and to prevent users from engaging in illegal conduct. We may use the email address you provide to respond to support requests or send periodic updates about the product.</p>
			<h3>How is my information protected?</h3>
				<p>Your privacy is very important to us. Youcover transmits and stores your data securely and takes a variety of measures to ensure that your data is not accessed by unauthorised parties. However, Youcover is run on systems that involve third parties and despite sophisticated security mechanisms, we are not able to guarantee against breaches of these systems or security measures.</p>
				<p>For clarifications about anything contained in this privacy policy, please contact info@youcover.me</p>
				<p>If you would like your cover removed from the Youcover database, please send us a message in writing to opt out of the service to info@youcover.me</p>
				<p>All content included on youcover.me is the property of Youcover or its affiliates and protected by United Kingdom and International copyright laws.</p>
       </div>
      </div>
    </div> <!-- /container -->
{% end%}

